* {
    background-color: hsl(25, 100%, 97%);
}

h1,
h2,
h3,
span,
button,
ul,
ol {
    font-family: 'Amatic SC', cursive;

}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-size: 1.75rem;
}

span,
p,
button {
    font-size: 1.5rem;
}

ul,
ol {
    padding: 0 1rem;
    font-size: 1.5rem;
}