.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
}

h1 {
    /* text-decoration: underline dotted rgb(208, 221, 230); */
    border-bottom: 15px dotted rgb(208, 221, 230);
}

#logo {
    width: 250px;
}

button {
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0.25rem #dfd9d9;

}

button:hover {
    background-color: #D0DDE6;
}