section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
}

section div {
    display: grid;
    row-gap: 1.5rem;
}

section span {
    font-size: 40px;
    text-align: center;
}

/* CSS del efecto de las cajitas */

section img {
    border-radius: 1.5rem;
    transition: all 0.2s ease
}

section img:hover {
    transform: scale(1.03);
    border: 2px solid #d0dde6;
    box-shadow: 4px 3px #b7c7d3;
    overflow: hidden;

}