header {
    display: flex;
    justify-content: space-around;
    place-items: center;
    padding: 10px 10px; 
    margin-bottom: 5%;
}

header h1{
    font-family:  'Amatic SC', cursive;
    font-size: 40px;
    margin: 0;
}

#logo2{
    width: 250px;
}

header span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline dotted rgb(208, 221, 230) 5px;
}

header div{
    width: 3px;
    height: 40px;
    background-color: rgb(208, 221, 230);
}