.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.content h1 {
    border: none;
}
.content img {
    width: 350px;
    height: 500px;
    border-radius: 1.5rem;
}

.content ul {
    padding: 0 1.75rem;
    list-style-image: url(/src/cookie2.svg);
}

.preview {
    display: flex;
    gap: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 1rem;
}

.recipe {
    display: flex;
    gap: 2rem;
}

.ingredients {
    padding: 1rem;
    border: 5px solid rgb(208, 221, 230);
    border-radius: 1rem;
}

.steps {
    padding: 1rem;
    border: 5px solid rgb(208, 221, 230);
    border-radius: 1rem;
}